@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    a {
        @apply text-blue-600 underline;
    }
}

@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Taruno Wide";
    src: url("fonts/TarunoWide-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Taruno Wide Outline";
    src: url("fonts/TarunoWideOutline-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Pathway Extreme";
    src: url("fonts/PathwayExtreme.ttf") format("truetype");
}

.marquee {
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}

.marquee span {
  display: inline-block;
  padding-left: 100%; /* Push the text outside the visible area initially (to the right) */
  text-align: center; /* Center align the text */
  white-space: nowrap; /* Prevent wrapping */
  animation: marquee 15s linear infinite; /* Apply the normal marquee animation */
}

.marquee2 span {
  animation-delay: 7.5s; /* Delay the start of the animation for the second marquee */
}

.marquee-reverse span {
  padding-right: 100%; /* Push the text outside the visible area initially (to the left) */
  text-align: center; /* Center align the text */
  white-space: nowrap; /* Prevent wrapping */
  animation: marquee-reverse 15s linear infinite; /* Apply the reverse marquee animation */
}

@keyframes marquee {
  0% {
      transform: translate(0, 0); /* Start from the initial position */
  }
  100% {
      transform: translate(-100%, 0); /* Move leftwards by 100% of container width */
  }
}

@keyframes marquee-reverse {
  0% {
      transform: translate(100%, 0); /* Start from the initial position (offscreen to the right) */
  }
  100% {
      transform: translate(0, 0); /* Move leftwards to the initial position */
  }
}

@font-face {
    font-family: "LT Museum Bold";
    src: url("fonts/LTMuseum-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "LT Museum Reguler";
    src: url("fonts/LTMuseum-Reg.ttf") format("truetype");
}

@font-face {
    font-family: "Brody Rawk";
    src: url("fonts/Brody-Rawk.ttf") format("truetype");
}

@font-face {
    font-family: "LTMuseum-Bold";
    src: url("fonts/LTMuseum-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LTMuseum-BoldItalic";
    src: url("fonts/LTMuseum-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "LTMuseum-Inline";
    src: url("fonts/LTMuseum-Inline.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LTMuseum-Ital";
    src: url("fonts/LTMuseum-Ital.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LTMuseum-Light";
    src: url("fonts/LTMuseum-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "LTMuseum-LightItalic";
    src: url("fonts/LTMuseum-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "LTMuseum-Reg";
    src: url("fonts/LTMuseum-Reg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}