.marquee {
    position: relative;
    display: flex;
    /* Use flexbox for alignment */
    width: 200%;
    /* Double the width to accommodate the duplicated content */
    animation: marquee 30s linear infinite;
}

.marquee span {
    flex-shrink: 0;
    /* Prevent shrinking */
    white-space: nowrap;
    /* Prevent line breaks */
}

.marquee-reverse {
    position: relative;
    display: flex;
    /* Use flexbox for alignment */
    width: 200%;
    /* Double the width to accommodate the duplicated content */
    animation: marquee-reverse 30s linear infinite;
}

.marquee-reverse span {
    flex-shrink: 0;
    /* Prevent shrinking */
    white-space: nowrap;
    /* Prevent line breaks */
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}