.marquee {
    position: relative;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}

.marquee-copy {
    margin-top: 8px; /* Space between the original and the copy */
}

.marquee-reverse span {
    padding-right: 100%;
    animation: marquee-reverse 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}
